/*
.row {
  @include grid-row();
  
  .col {
    @include grid-col;
  }
}
*/

$grid-gutter: 1em !default;

@mixin grid-row($gutter: $grid-gutter) {
  display: flex;
  
  > * {
    margin: auto $gutter / 2;
  }
}

@mixin grid-col {
  flex-grow: 1;
  flex-basis: 0;
}